<div class="col-lg-4 col-sm-6 mb-4">
	<a href="{{.Permalink}}">
	  <article class="card hover-shadow shadow">
	  	<div class="card-img-wrap">
	    	<img class="rounded card-img-top" src="{{(index .Params.Images 0) | relURL}}" alt="{{.Title }}">
	    </div>
	    <div class="card-body">
	      <h4 class="card-title">{{.Title }}</h4>
	      <p class="cars-text">{{.Summary}}</p>
	      <!-- Read More button commented out since the whole thing can be a link -->
	      <!-- <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a> -->
	    </div>
	  </article>
	</a>
</div>